// .register {
//     width: 25%;
//     margin: 1px auto;
//     margin-top: 25px;
// }

mat-card {
    min-width: 400px;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    margin: 1px auto;
   

}
button {
    width: 100%;
    margin: 10px 0;
    background-color: #4267b2;
    color: white;
}

mat-form-field {
    display: block !important;
}
.facebook-button {
    background-color: #4267b2;
    color: white;
}

.google-button {
    background-color: #ea4334;
    color: white;
}

p{
    text-align: center;
}
@media only screen and (max-width: 400px){
    mat-card{
        min-width: 100px;
        max-width: 270px;
        max-height: 460px;  
    }
}