$break-medium: 1221px;
$break-medium-small: 815px;
$break-small: 610px;
$break-mobile: 450px;

.rooms {
    width: 90vw;
    margin: 0 auto;
    div {
        display: inline-block;
        border: 2px solid black;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.6);
        position: relative;
    }

    div:hover {
        background-color: rgba(255, 255, 255, 0.9);
        transition: 0.5s ease-in-out all;
        cursor: pointer;
    }

    .joinedPlayers {
        position: absolute;
        bottom: 0;
        right: 5px;
    }

}

h1 {
    text-align: center;
}

hr {
    background-color: grey;
    border: 1px solid grey;
}

.container {
    background: url('http://www.sclance.com/backgrounds/fighting-arena-background/fighting-arena-background_944304.jpg');
    background-size: cover;
    max-width: 100%;
    height: 600px;
    position: relative;
    margin: 0 10px;

    .onlinePlayers {
        position: absolute;
        left: 25px;
        top: 15px;
    }
}
