.message {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.missing-page {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}